<section id="salud-main-content" layout="column" layout-fill flex>

    <md-toolbar class="md-tall" scroll-shrink>
		<span class="md-toolbar-tools md-toolbar-tools-top">
			<md-button ng-click="appController.openMainMenu()" aria-label="Open main menu">
                <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
            </md-button>
		</span>

        <span flex></span>

        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
            <span>Salud</span>
        </h2>
    </md-toolbar>

    <md-content>

        <md-card>
            <md-card-content>
                <h2>Salud Section</h2>

                <p>This is the main page of the Salud route.</p>

                <p>
                    View your <a ui-sref="salud.list">list of Saluds</a>
                    or <a ui-sref="salud.list.create">create a Salud</a>.
                </p>
            </md-card-content>
        </md-card>

    </md-content>

</section>

