<md-toolbar class="md-hue-1 md-tall" id="nutricion-detail-toolbar">

	<span layout="row" layout-align="space-between" class="md-toolbar-tools md-toolbar-tools-top">
		<md-button ng-click="detail.goBack()" aria-label="Close detail view">
            <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
        </md-button>
		<md-button ng-click="detail.edit()" aria-label="Edit nutricion">
            <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
        </md-button>
	</span>

	<span class="md-toolbar-tools md-toolbar-tools-bottom" layout="column">
		<h3>{{::detail.nutricion.name}}</h3>
	</span>

</md-toolbar>

<md-content class="md-padding" flex id="nutricion-detail-content">

    <section class="section" layout="column">

        <span class="section-title">Nutricion data</span>

		<span layout="row" layout-align="start center" class="detail-info" ng-hide="detail.nutricion.active">
		    <span flex>This nutricion is not active</span>
		</span>

		<span layout="row" layout-sm="column" class="detail-info">
			<span flex="45">Name</span>
			<span flex>{{::detail.nutricion.name}}</span>
		</span>

		<span ng-if="detail.nutricion.info" layout="row" layout-sm="column" class="detail-info">
			<span flex="45">Info</span>
			<span flex>{{::detail.nutricion.info}}</span>
		</span>

    </section>

    <section class="section" layout="column">

        <span class="section-title">Record Information</span>

		<span layout="row" layout-sm="column" class="detail-info">
			<span flex="45">Modified</span>
			<span flex ng-show="detail.nutricion.modified" class="subtitle">
				<span am-time-ago="detail.nutricion.modified"></span>
				<md-tooltip>{{detail.nutricion.modified | date:'dd. MMMM yyyy H:mm'}}</md-tooltip>
				{{detail.nutricion.modifiedBy && 'by ' + detail.nutricion.modifiedBy}}
			</span>
		</span>

		<span layout="row" layout-sm="column" class="detail-info">
			<span flex="45">Created</span>
			<span flex ng-show="detail.nutricion.created" class="subtitle">{{detail.nutricion.created | date:'dd. MMMM yyyy H:mm'}}</span>
		</span>

    </section>

</md-content>


