<md-toolbar class="md-hue-1 md-tall" id="salud-detail-toolbar">

	<span layout="row" layout-align="space-between" class="md-toolbar-tools md-toolbar-tools-top">
		<md-button ng-click="detail.goBack()" aria-label="Close detail view">
            <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
        </md-button>
		<md-button ng-click="detail.edit()" aria-label="Edit salud">
            <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
        </md-button>
	</span>

	<span class="md-toolbar-tools md-toolbar-tools-bottom" layout="column">
		<h3>{{::detail.salud.name}}</h3>
	</span>

</md-toolbar>

<md-content class="md-padding" flex id="salud-detail-content">

    <section class="section" layout="column">

        <span class="section-title">Salud data</span>

		<span layout="row" layout-align="start center" class="detail-info" ng-hide="detail.salud.active">
		    <span flex>This salud is not active</span>
		</span>

		<span layout="row" layout-sm="column" class="detail-info">
			<span flex="45">Name</span>
			<span flex>{{::detail.salud.name}}</span>
		</span>

		<span ng-if="detail.salud.info" layout="row" layout-sm="column" class="detail-info">
			<span flex="45">Info</span>
			<span flex>{{::detail.salud.info}}</span>
		</span>

    </section>

    <section class="section" layout="column">

        <span class="section-title">Record Information</span>

		<span layout="row" layout-sm="column" class="detail-info">
			<span flex="45">Modified</span>
			<span flex ng-show="detail.salud.modified" class="subtitle">
				<span am-time-ago="detail.salud.modified"></span>
				<md-tooltip>{{detail.salud.modified | date:'dd. MMMM yyyy H:mm'}}</md-tooltip>
				{{detail.salud.modifiedBy && 'by ' + detail.salud.modifiedBy}}
			</span>
		</span>

		<span layout="row" layout-sm="column" class="detail-info">
			<span flex="45">Created</span>
			<span flex ng-show="detail.salud.created" class="subtitle">{{detail.salud.created | date:'dd. MMMM yyyy H:mm'}}</span>
		</span>

    </section>

</md-content>


