<section id="nutricion-main-content" layout="column" layout-fill flex>

    <md-toolbar class="md-tall" scroll-shrink>
		<span class="md-toolbar-tools md-toolbar-tools-top">
			<md-button ng-click="appController.openMainMenu()" aria-label="Open main menu">
                <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
            </md-button>
		</span>

        <span flex></span>

        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
            <span>Nutricion</span>
        </h2>
    </md-toolbar>

    <md-content>

        <md-card>
            <md-card-content>
                <h2>Nutricion Section</h2>

                <p>This is the main page of the Nutricion route.</p>

                <p>
                    View your <a ui-sref="nutricion.list">list of Nutricions</a>
                    or <a ui-sref="nutricion.list.create">create a Nutricion</a>.
                </p>
            </md-card-content>
        </md-card>

    </md-content>

</section>

