<section id="salud-list-content" layout="row" layout-fill flex>

    <div ui-view="content" layout="column" flex></div>

    <md-content
            ui-view="detail"
            toggle-component
            id="salud-detail-content"
            md-component-id="salud.detailView"
            layout="column"
            flex-sm="100"
            flex-md="50"
            flex-gt-md="33"
            class="md-whiteframe-z1">
    </md-content>

</section>


