<md-toolbar class="md-tall" scroll-shrink layout-align="start start">

	<span class="md-toolbar-tools md-toolbar-tools-top">
		<md-button ng-click="appController.openMainMenu()" aria-label="Open main menu">
            <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
        </md-button>
	</span>

    <span flex></span>

    <h2 class="md-toolbar-tools md-toolbar-tools-bottom toolbar-tools-fab-overlap">
        <span>Salud List</span>
    </h2>

	<a ui-sref="salud.list.create">
    <md-button hide show-gt-md ng-if="list.saluds.length" class="md-fab md-accent md-fab-top-left fab-overlap" aria-label="Create a new salud">
        <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
    </md-button>
	</a>

</md-toolbar>

<md-content ng-if="list.saluds.length" id="salud-items-content" flex>

	<md-list layout="column">

		<md-item class="list-head" hide-sm>

			<md-item-content>
				<div class="md-tile-content" flex="66">
					<h4>Name</h4>
				</div>
                <div class="md-tile-content" flex hide show-gt-md>
                    <h4>Active</h4>
                </div>
			</md-item-content>

			<md-divider md-inset></md-divider>

		</md-item>

		<md-item ng-repeat="salud in list.saluds"
				ng-click="items.showInDetails(salud)"
				ng-class="{'selected': items.isSelected(salud)}">

			<md-item-content>

				<div class="md-tile-left">
				    <list-image string="{{salud.name}}"></list-image>
				</div>

				<div class="md-tile-content" flex="66">
					<h3>{{salud.name}}</h3>
                    <p ng-show="salud.info">{{salud.info}}</p>
				</div>

				<div class="md-tile-content" flex hide show-gt-md>
                    <h3>
                        <md-icon ng-show="salud.active" class="list-info" md-svg-icon="toggle:ic_check_box_24px"></md-icon>
                        <md-icon ng-show="!salud.active" class="list-info" md-svg-icon="toggle:ic_check_box_outline_blank_24px"></md-icon>
                    </h3>
                </div>

			</md-item-content>

			<md-divider md-inset></md-divider>

		</md-item>

	</md-list>

</md-content>

<md-content ng-if="!list.saluds.length">
	<md-card>
		<md-card-content>
			<h2>No Saluds found</h2>
			<p>
				There are no Saluds!
				<a ui-sref="salud.list.create">Create one!</a>
			</p>
		</md-card-content>
	</md-card>
</md-content>

<a ui-sref="salud.list.create">
	<md-button hide-gt-md ui-sref="salud.list.create" class="md-fab md-accent md-fab-bottom-right" aria-label="Create a new salud">
	    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
	</md-button>
</a>
